<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jd="http://www.springframework.org/schema/jdbc" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		 http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<context:annotation-config />
	<context:component-scan base-package="com.banking" />
	<mvc:annotation-driven />

	<jaxrs:server id="bankingService" address="/abcbank">
		<jaxrs:serviceBeans>
			<bean class="com.banking.controller.impl.MyBankingImpl">
			<property name="userDao" ref="UserDao"/></bean>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
	</bean>


	<!-- <jd:embedded-database id="dataSource1" type="HSQL">
		<jd:script location="classpath:schema.sql" />
	</jd:embedded-database>  -->
	
<bean id="dataSource1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:hsql://localhost"/> 
        <property name="username" value="sa"/>
        <property name="password" value=""/>
</bean>

	<bean id="hibernateSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource1" />
		<property name="annotatedClasses">
			<list>
				<value>com.banking.dto.User</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
			</props>
		</property>
	</bean>


	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>

	<!-- <bean id="UserDao" class="com.banking.dao.impl.UserDaoImpl">
		<property name="dataSource" ref="dataSource1" />
	</bean> -->
	
	<bean id="UserDao" class="com.banking.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>

</beans>